<div class="border-b pb-2 bg-orange-700 font-bold">
  <div class="flex items-center">
    <div>
      <svg
        width="6"
        height="11"
        viewBox="0 0 6 11"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M.117 5.14a.337.337 0 000 .499l4.307 4.336c.117.146.351.146.498 0l.557-.586a.337.337 0 000-.498L2.02 5.375 5.48 1.889c.146-.147.146-.381 0-.498L4.922.805c-.147-.147-.381-.147-.498 0L.117 5.14z"
          fill="#00173C"
        ></path>
      </svg>
    </div>
    <div id="backButton" class="cursor-pointer hover:underline">
      Back
    </div>
  </div>
</div>
<script>
  document.getElementById("backButton").addEventListener("click", backButtonUrl);

  function backButtonUrl() {
    let previousQuery = sessionStorage.getItem('query');
    if (previousQuery) {
      window.open(previousQuery, "_self");
    }
    else {
      window.open("/", "_self");
    }  
  }
</script>