<div class="hero w-full h-72 bg-no-repeat bg-cover relative">
    <!-- Overlay Background + Center Control -->
    <div class="w-full h-72 bg-opacity-50 bg-black flex items-center justify-center " style="background:rgba(0,0,0,0.6);" height="650">
        <div class="mx-2 text-center">
            <h1 class="text-gray-100 font-extrabold text-4xl xs:text-5xl md:text-6xl">{{name}}
            </h1>
        </div>
    </div>
</div>