
<div class="full-width-locator">
  <style>
    .full-width-locator {
      height: calc(100vh - 78px);
    }
  </style>
  <div class="panel px-2">
    <div class="header-section">
        <div class="lp-param lp-param-{$customizationInstanceID}-headline header mt-2">
            <h1>Locations near you</h1>
        </div>
      <div class="directions"></div>
      <div class="error-text"></div>
      <div class="border border-gray-300 shadow-md rounded-lg w-full px-3 py-2 flex items-center focus-within:ring-2 focus-within:ring-blue-400">
        <button class="search-bar-icon" aria-label="Search bar icon" id="search-location-button" type="submit" onclick="this.blur();">
          {{> icon-search fillColor="#333333"}}
        </button>
        <input
          class="bg-transparent w-full mx-2 focus:outline-none"
          type="text"
          id="location-input"
          placeholder="Enter ZIP Code or Address"
          aria-label="E.g. New York"
        />
        <button class="search-location-arrow" title="Search using your current location!" id="useLocation">
          {{> icon-location-arrow fillColor="#333333"}}
        </button>
      </div>

      <div class="search-center"></div>
    </div>
    <div class="spinner" style="display: none;">
      <div class="sk-wave">
        <div class="sk-rect sk-rect1"></div>
        <div class="sk-rect sk-rect2"></div>
        <div class="sk-rect sk-rect3"></div>
        <div class="sk-rect sk-rect4"></div>
        <div class="sk-rect sk-rect5"></div>
      </div>
    </div>
    <div class="result-list mt-3">
      <div class="result-list-inner grid gap-y-1">
      </div>
    </div>
  </div>
  <div id="map" class="hidden md:block"></div>
</div>
<div id="js-locator" data={{global.liveApiKey}}>
</div>
<script>
  window.mapsLoader && window.mapsLoader.then(() => {
    const script = document.createElement('script');
    script.src = 'locator.js';
    script.async = true;
    script.defer = true;
    script.type = 'text/javascript';
    document.getElementById('js-locator').appendChild(script);
  }).catch(() => alert('Could not load Google Maps. Please check that your API key is valid.'));
</script>