<div class="topnav">
    <div class="flex flex-wrap p-5 items-center justify-between md:justify-around">
        <a href="/">
            <div class="inline-flex items-center">
                <img src="images/yext-logo.svg" height="56" width="56" class="hidden md:flex">
                <h2 class="md:pl-5 text-xl cursor-pointer">
                    Yext's Fashion Warehouse
                </h2>
            </div>
        </a>
        <div class="hidden md:flex grid gap-x-10">
            <a href="#" class="headerLink hover:underline ">Home</a>
            <a href="#" class="headerLink hover:underline ">About</a>
            <a href="#" class="headerLink hover:underline ">Locations</a>
            <a href="#" class="headerLink hover:underline ">Blog</a>
        </div>
        <button class="hidden md:flex w-auto px-8 py-2 my-2 text-base font-medium text-white bg-black rounded-md focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2 hover:bg-gray-700">
            Button
        </button>
        <a href="javascript:void(0);" class="hamburger md:hidden" onclick="hamburger()">
            <svg class="md:hidden" viewBox="0 0 100 80" width="40" height="40">
                <rect width="90" height="15"></rect>
                <rect y="30" width="90" height="15"></rect>
                <rect y="60" width="90" height="15"></rect>
            </svg>
        </a>
    </div>

    <div class="links-mobile-view px-5 py-3 bg-black text-white" id="myLinks">
        <div><a href="#home">Home</a></div>
        <div><a href="#about">About</a></div>
        <div><a href="#locations">Locations</a></div>
        <div><a href="#blog">Blog</a></div>
    </div>
</div>

<script>
    function hamburger() {
    var x = document.getElementById("myLinks");
    if (x.style.display === "block") {
        x.style.display = "none";
    } else {
        x.style.display = "block";
    }
    }
</script>